

.navbar{
	min-height: 80px;
}
.navbar-brand{
	margin-top: -20px;
}

#header-nav{
    border-radius: 0;
    border: 0;
    background-color: black;

}

.navbar-header button.navbar-toggle{
	border: 1px solid #a52422;
}

.navbar-header #bar1{
	border: 1px solid;
	color:#bea57d;
}

.navbar-header #bar2{
	border: 1px solid;
	color:#eff2c0;
}

.navbar-header #bar3{
	border: 1px solid;
	color: #a4bab7;
}

@media (max-width: 767px){
#collapsing-nav{
	background-color: #a52422;
}
#btn1:hover{
	background-color: #a52422;
	}
}

#nav-list{
	text-align: center;
	color: black;
}

#nav-list a{
	color: black;
}

#nav-list a:hover{
	color: #a4bab7;
}

 button.navbar-toggle{
	margin-top: 23px;
}
#section-chicken{
	background-color:#bea57d;
	padding: 15px;
	margin-bottom: 20px;
}
#section-beef{
	background-color:#eff2c0;
	padding: 15px;
	margin-bottom: 20px;
}
#section-Sushi{
	background-color:#a4bab7;
	padding: 15px;
	margin-bottom: 20px;
}